.favorite-card {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin: 50px;
  padding: 25px;
}

@media (max-width: 768px) {
  .card {
    width: 300px;
  }
}

@media (max-width: 576px) {
  .card {
    width: 100%;
  }
}
